<html>

<body width="100%">
    <p>Hi <%=firstName%>,</p>
    <p>
        I’m Jamal, the owner and founder of Journi, and it’s a pleasure to be speaking with you! Thanks for your
        interest in our services.
    </p>
    <h3>A little bit about us.</h3>
    <p>
        For starters, we’re Journi, a small Black-owned business that works with fellow small minority-owned businesses
        in Chicago to maximize their revenue and digital presence. I believe that small businesses deserve to have
        production-grade platforms, and Journi is working to lower the barrier to entry. Learn more about us here.
    </p>
    <h3>Here’s what we do…</h3>
    <p>
        Here at Journi, we create fully customizable, production-grade apps and websites for small, minority-owned
        businesses along with platform analytics and business metrics. You handle the content. We take care of the
        code.
        When you work with us, we will create the exact platform you want for <%=orgName%> down to the pixel. To
            learn
            more about what we do and how we can help, click here.
    </p>
    <h3>… and here’s how we can help <%=orgName%>.</h3>
    <p>
        Since you’re interested in Journi creating a(n) <%=selectedPlatforms%> for <%=orgName%>, let’s map out the next
                steps.
                <ol>
                    <li>Demo and walkthrough</li>
                    <li>Price and plan review</li>
                    <li>
                        <%=selectedPlatforms%> design with our development team
                    </li>
                    <li>
                        <%=selectedPlatforms%> development
                    </li>
                    <li>Product launch</li>
                </ol>
    </p>

    <h3>Let’s talk pricing.</h3>
    <p>
        Based on your information, we think the <a href="https://journi.dev/pricing"><%=plan%> plan</a> would be the best. Here are the top features covered in your
        plan:
    </p>
    <p>INSERT_PLAN_FEATURES</p>
    <p>
        A startup fee of <%=startupFee%> covers platform development and production release. We’ll code your
            <%=selectedPlatforms%>, connect it to your domain, and upload your app to their respective app stores.
    </p>
    <p>
        Once your <%=selectedPlatforms%> <%=selectedPlatforms.indexOf(" and ") > -1 ? "are" : "is"%> live, we take <%=standardRate%> of <%=selectedPlatforms%> transactions
                    (with a minimum monthly charge of $<%=standardMinMonthlyCharge%>). But if you sign up by
                        <%=deadline%>, the first 6 months will be <%=discountRate%> (with a minimum monthly charge of
                                <%=discountMinMonthlyCharge%>)!
    </p>

    <p>
        With the monthly subscription, we handle platform maintenance, updates, feature requests, product support for
        your team and patrons, and we also provide periodic recommendations to maximize your platform usage and revenue.
        We handle the platform to ensure you can spend your time doing what you do best — running your business!
    </p>

    <p>Sincerely,</p><br />
    <p>Jamal, Owner</p>
    <p>Journi</p>
</body>

</html>